<div class="task-detail-sidebar">
  <div class="task-title">

    <div class="task-title-content">
      <p><i class="pi pi-circle"></i>Task title</p>
    </div>

    <div class="task-step">
      <i class="pi pi-circle"></i>
      <input class="task-step-input main-input" placeholder="Add step">
    </div>

  </div>

  <div class="task-my-day">
    <p><i class="pi pi-sun"></i>Add to my day</p>
  </div>

  <div class="task-tool">

    <div class="task-remind-me">
      <p><i class="pi pi-bell"></i>Remind me</p>
    </div>

    <div class="task-deadline">
      <p><i class="pi pi-calendar-minus"></i>Deadline</p>
    </div>

  </div>

  <div class="task-file">
    <p><i class="pi pi-file-import"></i>Upload file</p>
  </div>

  <div class="task-note">
    <textarea placeholder="Add note" class="task-note-value main-input" id="task-note-value" name="task-note-value"></textarea>
  </div>

  <div class="task-detail-bottom">
      <hr>
      <div class="task-detail-tool">
        <i class="pi pi-arrow-circle-right"></i>
        <p>Updated yesterday</p>
        <i class="pi pi-trash"></i>
      </div>
  </div>

</div>
