@import './base/mixins.scss';
@import './base/colors.scss';
@import './base/config.scss';
@import './base/fonts.scss';

@import '~primeflex/primeflex.css';
@import '~primeng/resources/themes/lara-light-blue/theme.css';
@import '~primeng/resources/themes/lara-light-blue/theme.css';
@import '~primeicons/primeicons.css';
@import '~font-awesome/css/font-awesome.css';

@import './apps/todo/pages/login-page.scss';
@import './apps/todo/shared/shell.scss';
@import './apps/todo/shared/header.scss';
@import './apps/todo/shared/search.scss';
@import './apps/todo/shared/task-detail.scss';
@import './apps/todo/shared/task.scss';

.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.main-input::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}


//When drag element is created at the root body so we need to put another css here
.task-step {
    a {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        color: #2564cf;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
    .pi {
        color: #2564cf;
        margin-right: 10px;
        margin-left: 10px;
    }

    p {
        color: #2564cf;
    }

    background-color: white;
    border-radius: 0px 0px 5px 5px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;

    &-input {
        border: none;
        height: 100%;
        width: 80%;
        &:focus,
        :active {
            border: none;
            outline: none;
        }
    }
}
