<div class="task-list-container grid">
    <div class="col-9">
        <div class="task-list-title">
            <i class="task-list-icon pi pi-sun"></i>
            <h3 style="display: inline">My Today</h3>
            <div>
                <p>Sunday, 13 November</p>
            </div>
        </div>

        <div class="task-list-add">
            <div class="task-list-add-input">
                <i class="pi pi-circle"></i>
                <input [(ngModel)]="taskName" type="text" name="task-list-add-input" id="task-list-add-input" placeholder="Input task name..." />
            </div>

            <div class="task-list-add-tool">
                <button id="dateBtn" class="task-button-deadline"><i class="pi pi-calendar"></i></button>
                <button (click)="setImportant()" class="task-button-remind"><i class="pi pi-star"></i></button>
                <button (click)="createTask()" class="task-button-add">Add</button>
            </div>
        </div>

        <div class="task-list-item">
            <div
                class="task-list" *ngFor="let task of tasks">
                <div class="task-list-status" (click)="updateTaskIsCompleted(task._id, task.isCompleted)">
                  <i [ngClass] = "[task.isCompleted ? 'state-true' : 'state-false', 'task-list-icon pi pi-circle']"></i>
                  <i [ngClass]= "[task.isCompleted ? 'state-false' : 'state-true', 'task-list-icon pi pi-check-circle']"></i>
                </div>
                <i [ngClass] ="[task.isImportant ? 'pi pi-star-fill' : 'pi pi-star', 'task-list-icon']" (click)="updateTaskIsImportant(task._id, task.isImportant)"></i>
                <p [ngStyle]="{ 'display': 'inline;', 'text-decoration' : (task.isCompleted) ? 'line-through' : 'none'}">{{ task.taskName }}</p>
            </div>
        </div>
    </div>
    <div class="col-2">
        <router-outlet name="taskDetailOutlet"></router-outlet>
    </div>

    <script>
      $(document).ready(function () {
          $("#dateBtn").click(function (e) {
            $( "#dateBtn" ).datepicker();
            console.log('hello');
            e.preventDefault();
          });
      });

    </script>

</div>
